.jumbotron {
  padding-top: 7rem;
  background-color: #b4e6cf;
}

#projects {
  background-color: #b4e6cf;
}

section {
  padding-top: 5rem;
}

.navbar-brand {
  font-family: Viga;
  font-size: 32;
}

.viga {
  font-family: Viga;
}
